* {cursor: url(../images/americanflag.gif),auto;}
body {
    color: pink;
    background: url(../images/bg.gif);
    background-color: purple;
    font-size: 1.4em;
    text-align: center;
}
header {
    color: orange;
    font-size: 2.0em;
    margin-bottom: 40px;
}
.face {
    border: 5px solid pink;
}
.mydetails {
    background-color: white;
    background-image: url(../images/frame.gif);
    background-repeat:no-repeat;
    background-size: 100% 100%;
    display: table;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 60px 35px;
    width: 80%;
}
.bbc_blink {
    animation: blink 1s steps(5, start) infinite;
}
.bbc_blink2 {
    animation: blink 1.2s steps(3, start) infinite;
}
@keyframes blink {
    to {
    visibility: hidden;
    }
}
ul li {
    margin-bottom: 5px;
}
.gallery-holder img {
    max-width: 80%;
}